<article class="post-summary">
  <div class="post-summary_images">
    <%= for photo <- Enum.slice(@post.photos, 0, 3) do %>
      <div class="post-summary_image-container">
        <img src="<%= thumb_url(photo) %>"/>
      </div>
    <% end %>
  </div>
  <%= link @post.title, to: post_path(@conn, :show, @post.slug) %>
</article>
