<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Louvre Admin</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>

  <body>
    <div class="ui top attached menu">
      <%= link to: admin_post_path(@conn, :index), class: "item #{active_class(@conn, Louvre.Admin.PostController)}" do %>
        <i class="home icon"></i>
        Posts
      <% end %>

      <%= link to: admin_user_path(@conn, :index), class: "item #{active_class(@conn, Louvre.Admin.UserController)}" do %>
        <i class="user icon"></i>
        Me
      <% end %>

      <%= link to: sign_out_path(@conn, :delete), class: "item" do %>
        <i class="sign out icon"></i>
        Sign Out
      <% end  %>
    </div>

    <div class="ui very padded basic segment">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
  </body>
</html>
