.navigation-bar
  display: flex
  position: relative
  justify-content: space-between
  align-content: center
  align-items: center
  background-color: $dark-blue
  max-height: 3.125rem
  z-index: 10000
  padding: 0rem $padding-small 0rem $padding-small

  &_name
    display: flex
    align-content: center
    margin: 0

    & > h1
      font-weight: 700
      color: $beige
      font-size: 1.25em

  &_links
    display: none

    @media (min-width: $tablet + 100)
      display: flex
      margin-left: auto
