.post

  &_header
    max-width: 100%
    display: flex
    flex-direction: column
    align-items: center

    &_headline
      font-family: $display
      font-size: 3em
    &_publish-date
      font-family: $display
      font-style: italic
      font-size: 1.3em
      margin-bottom: 1.3em

  & > img
    margin-bottom: 1em
    max-width: 100%
