<section class="post-feed">
  <%= if Enum.any?(@posts) do %>
      <%= for post <- @posts do %>
        <%= render(PostView, "_post_summary.html", conn: @conn, post: post) %>
      <% end %>
  <% end %>
</section>
